DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
DB_SSLMODE=disable
LANG=en_US.utf8
ENVIRONMENT=development
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME=5
HTTP_PORT=3000
API_KEY=my-super-secret-key